body {
  font-family: Arial, sans-serif;
  background-color: #ffb3e8;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 24px;
  background: linear-gradient(to right, #fff5a5, #ffb3e8);
}
.logo img {
  max-height: 40px;
  width: auto;
nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #5a245a;
  font-weight: bold;
  font-size: 18px
}
nav a:hover {
  text-decoration: underline;
}
  .product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.product-card {
  background: #ffe4fa;
  padding: 15px;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card button {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #ffb3e8;
  border: none;
  cursor: pointer;
}

.product-card button:hover {
  background: #ff9fe6;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px:
overflow: hidden;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 20px;
  background-color: #ffb3e8;
  text-align: left;
}
.first-section img {
  max-width: 220px;
  height: auto;
}
.first-section h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}
first-section button {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #5a245a;
  background-color: #ffe4fa;
  color: #fff;
  cursor: pointer;
}
.featured-products {
  padding: 40px 20px;
  background-color: #ff9fe6;
}
.product-img article {
  margin-top: 20px;
}
.product-img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}
.about, .faq, .subscribe {
  padding: 40px 20px;
  background-color: #ffb3e8;
}
footer {
  padding: 20px;
  background-color: #ff8efdc;
}
/* Button for homepage "View All Products" */
.see-more-btn {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #5a245a;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.see-more-btn:hover {
  background-color: #ff9fe6;
}

  

