body {
  font-family: Arial, sans-serif;
  background-color: #ffb3e8;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: linear-gradient(to right, #fff5a5, #ffb3e8);
}
nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #5a245a;
  font-weight: bold;
  font-size: 18px
}
nav a:hover {
  text-decoration: underline;
}

